# get this from Special:BotPassword
export MW_PASS=""
export MW_USER=""

# the interwiki prefix name for the source wiki to import from
export MW_PREF=""
# or use the source wiki url
export MW_SRC=""

# bot info, to be embeded in the page comments
export BOT_INFO="mwpm"

# the url for the target wiki to import pages, end with /
export MW_URL=""
